/*-- Explore NFT Style --*/
.nft-card{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    .nft-img{
        img{
            width: 100%;
        }
    }
    .nft-card-info{
        padding: 25px;
        .nft-subtitle{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
            margin-bottom: 12px;
            color: color(whiteColor);
        }
        .nft-title{
            @include textStyle(18px, 700, 20px);
            color: color(whiteColor);
            margin-bottom: 27px;
        }
        
        p{
            margin-bottom: 11px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;
            &:nth-last-child(1){
                margin-bottom: 0px;
            }
            span{
                color: rgba(255, 255, 255, 0.5);
                img{
                    margin-right: 10px;
                }
            }
        }
    }
}

.nft-card-timer{
    padding: 7px 15px;
    background: rgba(18, 21, 31, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 17px;
    overflow: hidden;
    height: 34px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: color(whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}


.nft-right{
    padding-left: 20px;
    ul{
        li{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin-bottom: 7px;
        }
    }
    .filter-dropdown{
        select {
            height: 50px;
            width: 100%;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 25px;
            padding: 15px 20px;
            @include textStyle(15px, 500, 20px);
            color: rgba(255, 255, 255, 0.8);
            option{
                background: rgba(255, 255, 255, 0.04);
                color: color(whiteColor);
            }
        }
    }
    .price-input{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 8%;
        input{
            @include textStyle(15px, 500, 28px);
            width: 48%;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            height: 50px;
            background: transparent;
            padding: 11px 20px;
            color: color(whiteColor);
        }
    }
    
    button {
        width: 100%;
        background: rgba(6, 208, 231, 0.15);
        border-radius: 25px;
        color: color(primary);
        text-transform: uppercase;
        overflow: hidden;
        max-height: 50px;
        padding: 11px 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-hov-section {
            max-height: 28px;
            overflow: hidden;
        }

        &:hover {
            .btn-text {
                animation: btnHovEffect 200ms linear;
                transform: translateY(-51.5%);
            }
        }
        .btn-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.custom-checkbox {
    display: flex;
    align-items: center;
    input {
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.1);
        position: relative;
        border-radius: 6px;

        &:checked {
            border: 2px solid color(primary);
            background-color: color(primary);
            border: 2px solid transparent;

            &::before {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 16px;
                height: 16px;
                background-image: url("../images/icon/checkbox-icon.svg");
                background-repeat: no-repeat;
                background-position: center center;
            }

            + label {
                img {
                    opacity: 1;
                }
            }
        }
    }

    label {
        cursor: pointer;
        padding-left: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        span {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

/*-- nFT Details Style --*/
.nft-details-left{
    padding-right: 20px;
    .nft-details-img{
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        img{
            width: 100%;
        }
    }
}

.nft-details-right{
    .nft-details-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 25px;
        h2{
            font-family: fontfamily(dmSans);
        }
        .nft-details-heading-btns{
            gap: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .nft-details-view {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 424px;
        width: 100%;
        color: color(whiteColor);
        margin-bottom: 30px;
        p{
            margin-bottom: 0px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img{
                margin-right: 10px;
            }
        }
    }
}

.nft-owner-section{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 20px;
        li{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 13px;
            .nft-owner-img{
                max-width: 40px;
                max-height: 40px;
                min-width: 40px;
                min-width: 40px;
                min-height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            .nft-owner-info{
                p{
                   margin-bottom: 0px; 
                }
                h6{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 0px;
                }
                &.creator {
                    h6 {
                        &::after {
                            content: url(../images/icon/icon-round-check-green.svg);
                            margin-left: 6px;
                        }
                    }
                }
                
            }
        }
    }
}

.nft-price-section{
    p{
        margin-bottom: 9px;
    }
    h6{
        font-family: fontfamily(dmSans);
        @include textStyle(16px, 700, 20px);
    }
}

.nft-details-btn-section {
    margin-top: 25px;
    button {
        padding: 18px;
        overflow: hidden;
        height: 60px;
        width: 100%;
        color: color(textDark);
        background: color(primary);
        border-radius: 30px;
        margin-bottom: 30px;
        @include textStyle(15px, 700, 20px);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-hov-section {
            height: 28px;
            overflow: hidden;
            position: relative;
        }

        &:hover {
            .btn-text {
                animation: btnHovEffect 200ms linear;
                transform: translateY(-51%);
            }
        }

        .btn-text {
            padding-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            gap: 10px;
        }
    }
    
    .nft-details-timer {
        padding: 18px;
        overflow: hidden;
        height: 60px;
        width: 100%;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        gap: 10px;
        color: color(whiteColor);
        @include textStyle(15px, 700, 20px);
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}

.nft-tab-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 17px;
    li{
        button{
            @include textStyle(15px, 500, 20px);
            padding-bottom: 11px;
            border-bottom: 2px solid transparent;
            &.active{
                @include textStyle(15px, 700, 20px);
                border-bottom: 2px solid #06D0E7;
            }
        }
    }
}

.nft-tab-contents-inner{
    margin-bottom: 13px;
    ul{
        li{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 11px;
            width: 100%;
            strong{
                width: 110px;
                @include textStyle(15px, 500, 36px);
            }
        }
    }
}