.primary-btn{
    background: linear-gradient(90deg, #3326B1 0%, #0AC6D4 100%);
    border-radius: 8px;
    color: color(whiteColor);
    font-weight: 700;
    overflow: hidden;
    &:hover{
        color: color(whiteColor);
    }
}
.primary-btn-lg{
    background: linear-gradient(90deg, #3326B1 0%, #0AC6D4 100%);
    border-radius: 8px;
    color: color(whiteColor);
    font-weight: 700;
    overflow: hidden;
    &:hover{
        color: color(whiteColor);
    }
}
