.enox-counter-section{
    background: transparent;
    position: relative;
    padding: 0px 175px;
    overflow: hidden;
    &::before{
        content: url(../images/counter-section/shapes_left.svg);
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        z-index: 0;
    }
    &::after{
        content: url(../images/counter-section/shapes_right.svg);
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        z-index: 0;
    }
}

.enox-counter-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;
    max-width: 1570px;
    margin: auto;
    background: linear-gradient(90deg, rgba(6, 208, 231, 0.05) 0%, rgba(0, 227, 124, 0.05) 100%);
    position: relative;
    z-index: 2;
}
.enox-counter-content{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: 240px;
    max-width: 294px;
    h2{
        margin-bottom: 0px;
    }
    p{
        @include textStyle(18px, 500, 40px);
        margin-bottom: 20px;
    }
    img{
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
}