.faq-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .faq-shape{
        position: absolute;
        z-index: 0;
        bottom: -50px;
    }
    .container{
        position: relative;
        z-index: 1;
    }
}
.faq-content {
    max-width: 770px;
    margin: auto;
    
    .faq-question{
        background: rgba(255, 255, 255, 0.04);
        border-radius: 20px;
        padding: 20px 29px 0px 29px;
        margin-bottom: 15px;
        position: relative;
        transition: 0.3s;
        &:nth-last-child(1){
            margin-bottom: 0px;
        }
        &:hover{
            &::after{
                content: '';
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
                border-radius: 0px 20px 20px 0px;
                position: absolute;
                right: 0px;
                top: 0px;
                width: 40%;
                height: 100%;
                z-index: 0;
                transition: 0.3s;
            }
            &::before{
                content: '';
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: 20px 0px 0px 20px;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 40%;
                height: 100%;
                z-index: 0;
                transition: 0.3s;
            }
        }
    }
    .accordion {
        cursor: pointer;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgba(255, 255, 255, 0.8);
        padding-right: 15px;
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
        &::after{
            content: url(../images/icon/icon-plus.svg);
            position: absolute;
            right: 0px;
            top: 0px;
        }

        &.active {
            color: color(whiteColor);
            padding-bottom: 12px;
            &::after{
                content: url(../images/icon/icon-minuse.svg);
                position: absolute;
                top: -5px;
            }
        }
        &:hover{
            color: color(whiteColor);
        }
    }

    .accordion-panel {
        padding: 0px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        p{
            margin-bottom: 0px;
            padding-bottom: 29px;
            a{
                color: color(primary);
                opacity: 80%;
            }
        }
    }
}

