@media screen and (max-width: 1699px) {
  .enox-counter-section {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 1199px) {
  /*-- reSet All Start  --*/
  body {
    font-size: 14px;
    line-height: 26px;
  }
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
  h2 {
    font-size: 32px;
    line-height: 45px;
  }
  .page-title {
    margin-bottom: 20px;
  }
  /*-- reSet All End  --*/
  /*-- Header Section Start --*/
  .header-menu {
    gap: 30px;
  }
  .menu-list {
    max-width: 350px;
  }
  /*-- Header Section end --*/
  .multichain-img-section {
    margin-top: -43.5%;
  }
  .multichain-img-section .multichain-img {
    width: 32%;
  }
  .multichain-img-section .multichain-logo {
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
  }
  .multichain-img-section .multichain-logo img {
    max-width: 80%;
  }
  /*-- Exon Counter Css Start --*/
  .enox-counter-section {
    padding: 0px 80px;
  }
  /*--  --*/
  /*-- launchPad Section Start --*/
  .launchpad-tab-bns ul li button {
    font-size: 14px;
    padding: 0px;
  }
  /*-- launchPad Section End --*/
  /*-- NewsLetter Section start --*/
  .newsletter-card {
    padding: 70px 40px;
  }
  .newsletter-card form input[type=submit] {
    padding: 10px 25px;
  }
  /*-- NewsLetter Section End --*/
  /*-- Footer Section Start --*/
  .footer-card .social-links-section ul {
    gap: 20px;
  }
  .footer-card .social-links-section ul li {
    height: 60px;
    width: 60px;
    border-radius: 15px;
  }
  /*-- Footer Section End --*/
  /*-- latest news-section start --*/
  .latest-news-card {
    margin-bottom: 30px;
  }
  .latest-news-info h4 {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*-- latest news-section End --*/
  .recent-post .recent-post-img {
    min-height: 85px;
    min-width: 85px;
    max-height: 85px;
    max-width: 85px;
  }
}
@media screen and (max-width: 991px) {
  /*-- reSet All Start  --*/
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 28px;
    line-height: 38px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .page-title {
    margin-bottom: 20px;
  }
  /*-- reSet All End  --*/
  .multichain-img-section {
    padding: 40px;
  }
  /*-- counter-section-start --*/
  .enox-counter-section {
    padding: 0px 40px;
  }
  .enox-counter-inner {
    min-height: 180px;
  }
  .enox-counter-content {
    min-height: 180px;
  }
  /*-- counter-section-End --*/
  /*-- Header Section Start --*/
  .header-right {
    display: none;
  }
  /*-- Header Section End --*/
  /*-- Banner Section Start --*/
  .banner-left {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    max-width: 500px;
  }
  .banner-btns {
    justify-content: center;
  }
  .banner-pragraph {
    margin: auto;
    margin-bottom: 20px;
  }
  .banner-right {
    margin: auto;
  }
  /*-- Banner Section End --*/
  /*-- features-section --*/
  .features-section-left {
    margin-bottom: 50px;
  }
  /*-- features-section --*/
  /*-- Launchpad Section Start --*/
  .launchpad-table .table-body ul {
    padding: 15px;
  }
  .launchpad-img-section {
    gap: 10px;
  }
  .launchpad-img-section .launchpad-img {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
  }
  .launchpad-progress-bg {
    display: none;
  }
  .launchpad-table ul li:nth-child(1) {
    width: 37%;
  }
  .launchpad-table ul li:nth-child(3) {
    width: 16%;
  }
  .launchpad-table ul li:nth-last-child(1) {
    width: 30%;
  }
  /*-- Launchpad Section End --*/
  /*-- Nft Section Start --*/
  .nft-right {
    margin-top: 50px;
    max-width: 300px;
    padding-left: 0px;
  }
  /*-- Nft Section End --*/
  /*-- nft Details Section Start --*/
  .nft-details-left {
    padding-right: 0px;
  }
  .nft-details-left .nft-details-img {
    margin-bottom: 30px;
  }
  /*-- nft Details Section End --*/
  /*-- News Latter Section Start --*/
  .newsletter-card h2 {
    margin-bottom: 30px;
  }
  /*-- News Latter Section End --*/
  /*-- Footer Section Start --*/
  .footer-card .social-links-section ul {
    gap: 15px;
  }
  .footer-card .social-links-section ul li {
    height: 60px;
    width: 60px;
    border-radius: 15px;
  }
  /*-- Footer Section End --*/
  /*-- News Details Section Start --*/
  .news-details-left {
    padding-right: 0px;
    padding-bottom: 50px;
  }
  /*-- News Details Section End --*/
  /*-- voting details section Start --*/
  .voting-details-content {
    padding-right: 0px;
    margin-bottom: 50px;
  }
  /*-- voting details section End --*/
  /*-- liquidity-tabcontent Scetion Start --*/
  .liquidity-tabcontent-inner {
    overflow-x: scroll;
  }
  .liquidity-pools-farming-table {
    min-width: 912px;
  }
  /*-- liquidity-tabcontent Scetion End --*/
}
@media screen and (max-width: 768px) {
  .section-title .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
  }
  /*-- counter Section Start --*/
  .enox-counter-content h2 {
    font-size: 24px;
  }
  .enox-counter-content p {
    font-size: 16px;
  }
  /*-- counter Section End --*/
  /*-- multichain section Start --*/
  .multichain-img-section {
    padding: 25px;
  }
  /*-- multichain section End --*/
  .launchpad-table-section {
    overflow-x: scroll;
  }
  .launchpad-table-section ::-webkit-scrollbar {
    display: none;
  }
  .launchpad-table {
    min-width: 705px;
  }
  .footer-bottom-section ul {
    max-width: 375px;
  }
  .enox-counter-section {
    padding: 0px;
  }
  .footer-card .social-links-section {
    margin-top: 30px;
  }
  /*-- BreadCumbs Section Start --*/
  .breadcumbs-right {
    margin-top: 20px;
  }
  .breadcumbs-search-form {
    max-width: 100%;
  }
  .breadcumbs-left .breadcumbs-link a {
    font-size: 16px;
    line-height: 40px;
  }
  .breadcumbs-left .breadcumbs-title {
    font-size: 32px;
    line-height: 45px;
  }
  /*-- BreadCumbs Section End --*/
  /*-- farming Pools Start --*/
  .farming-table-btn-content .farming-table-btns ul.liquidity-tab-btns1 li {
    width: 130px;
  }
  .farming-table-btn-content .farming-table-btns ul.liquidity-tab-btns1 li button {
    font-size: 14px;
    height: 45px;
    padding: 0px 12px;
  }
  /*-- farming- Pools End --*/
  /*-- News Details Start--*/
  .news-details-left .news-details-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .news-nav-card {
    margin-bottom: 20px;
  }
  .news-details-left .quotes-text p {
    font-size: 16px;
  }
  /*-- News Details End--*/
  /*-- latest news-section start --*/
  .latest-news-info {
    padding: 20px;
  }
  .latest-news-card-bottom {
    padding: 15px 20px;
    font-size: 13px;
  }
  /*-- latest news-section End --*/
  /*-- Nft Details section start --*/
  .nft-details-btn-section {
    margin-bottom: 40px;
  }
  /*-- Nft Details section End --*/
  /*-- voting Prpposals Section Start --*/
  .voting-card .voting-progress-section ul {
    flex-direction: column;
    gap: 20px;
  }
  .voting-card .voting-progress-section ul li {
    width: 100%;
  }
  /*-- voting Prpposals Section End --*/
  /*-- voting details Section Start --*/
  .voting-details-content .voting-title {
    font-size: 32px;
  }
  .cast-your-vote-card .cast-card-option .cast-card-radio-btn {
    padding: 12px 10px;
  }
  .cast-your-vote-card .cast-card-option .cast-card-radio-btn input {
    height: 20px;
  }
  /*-- voting details Section End --*/
}
@media screen and (max-width: 575px) {
  .section-title .title {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .section-title h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .container {
    padding: 0px 20px;
  }
  .banner-right .swap-coin3 {
    right: -18px;
  }
  /*-- Counter Section Start --*/
  .enox-counter-section::before, .enox-counter-section::after {
    display: none;
  }
  .enox-counter-content {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /*-- Counter Section End --*/
  /*-- Pagination Section Start --*/
  .pagination-section {
    max-width: 260px;
    width: 100%;
    margin: auto;
  }
  .pagination-section ul li a {
    height: 36px;
    width: 36px;
  }
  /*-- Pagination Section End --*/
  /*-- Launchpad section Start --*/
  .launchpad-tab-bns ul {
    flex-direction: column;
  }
  .launchpad-tab-bns ul li {
    width: 100%;
    border: none;
  }
  .launchpad-tab-bns ul li:nth-child(2) {
    border-left: none;
    border-radius: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  /*-- Launchpad section End --*/
  /*-- multi chain Section Start --*/
  .multi-chain-img-section {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .multi-chain-img-section .multichain-logo {
    transform: rotate(-90deg);
  }
  .multichain-img-section {
    margin-top: -41.5%;
  }
  /*-- multi chain Section End --*/
  /*-- Roadmap Section Start --*/
  .roadmap-section .slick-dots {
    display: none !important;
  }
  /*-- Roadmap Section End --*/
  .our-backers-section .our-backers-light {
    top: 0%;
  }
  .newsletter-card {
    padding: 30px 20px;
  }
  .newsletter-card form {
    flex-direction: column;
    gap: 20px;
  }
  .newsletter-card form .primary-btn {
    width: 100%;
  }
  /*-- Footer Section Start --*/
  .footer-bottom-section {
    flex-direction: column;
    gap: 10px;
    padding: 30px 10px;
  }
  .footer-bottom-section ul {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  /*-- Footer Section End --*/
  /*-- News Details Section Start --*/
  .news-details-tag-section {
    margin-bottom: 50px;
  }
  .news-comment-card {
    padding: 25px;
  }
  .news-comment-card .comment-img {
    min-height: 36px;
    min-width: 36px;
    max-height: 36px;
    max-width: 36px;
  }
  .news-comment-card .news-comment-text .comment-text {
    margin-top: 65px;
  }
  .news-comment-card .news-comment-text .reply-btn {
    top: 95px;
    right: auto;
  }
  /*-- News Details Section End --*/
  /*-- NFT Section Start --*/
  .nft-card {
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }
  .nft-right {
    margin: auto;
    margin-top: 50px;
  }
  /*-- NFT Section End --*/
  /*-- nft Details Section Start --*/
  .nft-owner-section ul {
    flex-direction: column;
  }
  .nft-owner-section ul li {
    width: 100%;
    padding-bottom: 20px;
  }
  .nft-owner-section ul li:nth-last-child(1) {
    padding-bottom: 0px;
  }
  /*-- nft Details Section End --*/
  /*-- Voting details Section Start --*/
  .voting-details-table table tr td:nth-child(1) {
    width: 65%;
  }
  .voting-details-table table tr td:nth-child(2) {
    width: 10%;
  }
  .voting-details-table table tr td:nth-last-child(1) {
    width: 25%;
  }
  /*-- Voting details Section End --*/
}
@media screen and (max-width: 425px) {
  .swap-token-section {
    padding: 25px;
  }
  .swap-item {
    flex-direction: column;
  }
  .swap-item-left,
  .swap-item-right {
    width: 100%;
    border-bottom-left-radius: 0px;
  }
}
@media screen and (max-width: 375px) {
  .voting-details-table table tr td {
    font-size: 12px;
  }
}