.roadmap-section{
    position: relative;
    z-index: 1;
    .dotted-wave-bg{
        position: absolute;
        top: -70%;
        width: 100%;
        height: 110%;
    }
    
    .slick-dots{
        max-width: 470px;
        margin: auto;
        position: relative;
        background: rgba(255, 255, 255, 0.04);
        border-radius: 5px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17px;
        li{
            background: transparent;
            &.slick-active{
                background: rgba(255, 255, 255, 0.1);
                border-radius: 5px;
                min-width: 180px;
                height: 100%;
            }
            & button {
                &::before {
                    display: none !important;
                }
            }
        }
    }
}
.roadmap-card{
    padding: 20px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(2.5px);
    border-radius: 20px;
    min-height: 320px;
    position: relative;
    overflow: hidden;
    &::after{
        content: url(../images/index1/lounchpad-shape.png);
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 0;
    }
    &.continue {
        &::before {
            content: url(../images/icon/rotted-iocn.png);
            position: absolute;
            top: 30px;
            right: 20px;
            animation: spin 4000ms linear infinite;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }
    h3{
        position: relative;
        z-index:1;
        margin-bottom: 14px;
    }
    ul{
        position: relative;
        z-index: 1;
        li{
            margin-bottom: 10px;
            position: relative;
            padding-left: 18px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            &::before{
                content: '';
                border-radius: 50%;
                height: 10px;
                width: 10px;
                background: rgba(255, 255, 255, 0.2);
                position: absolute;
                left: 0px;
                top: 10px;
            }
            &.incomplete{
                &::before{
                content: '';
                border-radius: 50%;
                height: 10px;
                width: 10px;
                background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.2);
                position: absolute;
                left: 0px;
                top: 10px;
            }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}